# Bỏ qua thư mục rác node_modules CỦA backend
/backend/node_modules

# Bỏ qua thư mục rác node_modules CỦA frontend
/frontend/node_modules

# Bỏ qua file bí mật
.env
/backend/.env
/frontend/.env

# Bỏ qua file log
*.log
npm-debug.log
